body {
    margin: 0px;
    padding: 0px;
    background-image: url(../image/id1.jpg);
}

/*NAVBAR*/
.na{
    margin: 170px 0px -200px 100px;
    font-size: 38px;
    font-family: 'Nanum Myeongjo', serif;
}

.yo{
    margin: 160px 100px -200px 900px;
    font-size: 38px;
    font-family: 'Nanum Myeongjo', serif;
    }

.mandalas {
    width: 500px;
    height: 200px;
    margin: 10px 350px 0px 350px;
}

.nav {
    margin: 0px 100px;
    font-family: 'Nanum Myeongjo', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 41, 23);
    border-radius: 50px;
    margin: 0px 25px;
}

li {
    float: left;
    margin: 0px 15px;
}

li a {
    display: block;
    color: white; 
    text-align: center; 
    padding: 20px 50px; 
    text-decoration: none; 
    font-size: 19px; 
}

li a:hover {
    color: #718093;
}
/*PROF*/
.texte {
    padding: 10px 150px;
    margin: 20px 200px;
    background-color: rgba(255, 255, 255, 0.7)
}

h2 {
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    text-align: center;
}

.bloc {
    display: flex;
    margin: 0px -120px 0px -120px;
}

.cours {
    background-color: rgba(113, 128, 147, 0.5);
    border-radius: 0%;
    margin: 0px 10px 350px 10px;
    text-align: center;
}

.cart {
    background-color: rgba(113, 128, 147, 0.5);
    border-radius: 0%;
    margin: 0px 10px 300px 10px;
    text-align: center;
}

.abo {
    background-color: rgba(113, 128, 147, 0.5);
    border-radius: 0%;
    margin: 0px 10px 30px 10px;
    text-align: center;
}

h3 {
    font-family: 'Marck Script', cursive;
    font-size: 31px;
    margin: 0px 0px -20px 0px; 
}

h4 {
    font-size: 19px;
}

h5 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
}

h6 {
    margin: -10px 0px; 
}

/*FOOTER*/
footer {
    background-color: #3b3a30;
    width: 100%;
    position: absolute;
    color: white; 
}

.foot {
    display: flex;
    margin: 0px 550px;
}

.imgfoo {
    margin: 10px 20px;
}

.foo {
    text-decoration: none;
    color: white;
    margin: 15px 0px;
}