body {
    margin: 0px;
    padding: 0px;
    background-image: url(../image/id1.jpg);
}

/*NAVBAR*/
.na{
    margin: 170px 0px -200px 100px;
    font-size: 38px;
    font-family: 'Nanum Myeongjo', serif;
}

.yo{
    margin: 160px 100px -200px 900px;
    font-size: 38px;
    font-family: 'Nanum Myeongjo', serif;
    }

.mandalas {
    width: 500px;
    height: 200px;
    margin: 10px 350px 0px 350px;
}

.nav {
    margin: 0px 100px;
    font-family: 'Nanum Myeongjo', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 41, 23);
    border-radius: 50px;
    margin: 0px 25px;
}

li {
    float: left;
    margin: 0px 15px;
}

li a {
    display: block;
    color: white; 
    text-align: center; 
    padding: 20px 50px; 
    text-decoration: none; 
    font-size: 19px; 
}

li a:hover {
    color: #718093;
}
/*PROF*/
.texte {
    padding: 10px 150px;
    margin: 20px 200px;
    background-color: rgba(255, 255, 255, 0.7)
}

h3 {
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    text-align: center;
}

h4 {
    font-family: 'Marck Script', cursive;
    font-size: 23px;
    text-align: center;
}









/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #718093; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(38, 41, 23);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(38, 41, 23, 0.5);
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #718093;
    padding: 20px;
    margin: 40px 100px 40px 100px;
}
